@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

table * {
	@apply max-w-full;
}

tr,
td {
	@apply box-border;
}
table {
	@apply table;
}
tr {
	@apply table-row;
}
td,
th {
	@apply table-cell;
}

.underline-fancy {
	position: relative;
}

.underline-fancy::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	@apply text-primary-800;
	@apply bg-secondary;
	transform-origin: bottom right;
	transform: scaleX(0);
	transition: transform 0.5s ease;
}

.underline-fancy:hover::before {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.underline-fancy-static {
	position: relative;
}
.underline-fancy-static::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	@apply text-primary-800;
	@apply bg-secondary;
}
.underline-fancy-static-small {
	@apply underline decoration-secondary;
}

a.button {
	z-index: 1;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	color: white;
	padding: 0.75em 1em;
	outline: none;
	border: none;
	@apply bg-primary-900;
	@apply shadow-md;
	@apply shadow-primary-900/50;
	overflow: hidden;
	transition: color 0.35s ease-in-out;
	max-width: 250px;
}

a.button::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	@apply bg-secondary;
	transform-origin: center;
	transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
	transition: transform 0.35s ease-in-out;
}

a.button:hover {
	cursor: pointer;
	color: #161616;
	@apply shadow-md;
}

a.button:hover::before {
	transform: translate3d(-50%, -50%, 0) scale3d(20, 20, 20);
}

a.button:active {
	@apply shadow-sm;
	@apply shadow-secondary/50;
}

::selection {
	background-color: #ffb806;
	color: #272b38;
}

.sup {
	position: relative;
	bottom: 1.4ex; 
	font-size: 60%;
}
